@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

.rua-project-search {
	flex-grow: 1;
}
.leaflet-default-icon-path {
	background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-default-shadow-path {
	background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png);
}

nav{
	z-index: 9999 !important;
}

[role="dialog"],
[data-headlessui-state="open"] {
  z-index: 100 !important; /* Higher than navbar z-50 */
}

[role="dialog"] ~ nav,
[data-headlessui-state="open"] ~ nav,
html:has([role="dialog"]) nav.fixed.bottom-0,
html:has([data-headlessui-state="open"]) nav.fixed.bottom-0 {
  z-index: 40 !important;
}

.body-container[data-popper-placement="bottom-start"] {
    z-index: 150 !important;
}